@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .tranimate {
    @apply transition-all ease-in-out duration-300;
  }

  .main {
    @apply min-h-screen flex-center flex-col w-screen
  }

  .error {
    @apply text-alert text-sm text-center mt-5
  }

  .input {
    @apply border-shade-200 outline-shade-100 border-2 tranimate bg-shade-100 rounded-xl my-2 px-3 py-2 w-full
  }
}

.heart-shape {
  clip-path: path("M50 15 C35 -10, 0 -10, 0 30 C0 60, 50 90, 50 90 C50 90, 100 60, 100 30 C100 -10, 65 -10, 50 15 Z"
);
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #ffe5ec;
  color: #fb6f92;
}